.movie-poster{
    height:50vh;
}
.movies-grid{
    display: flex;
    gap: 30px;
    padding: 30px;
}
.bgblack{
    background-color: rgba(0,0,0,0.85);
    height: 100vh;
}
.p{
    color: aliceblue;
}