.complete-margin{
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 6%;
}
.mainh1{
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto";
}
hr{
    color:lightgray; 
    padding-right: 20px;
    padding: 10px;
    margin: 10px;
}
.membershipflex{
    display: flex;
    gap: 20px;
    padding-left:20px;
    margin-left: 20px;
}
.password{
    margin-left: 11%;
    color: gray;
}
.plan{
    color: gray;

}
.button{
    background-color: red;
    width: auto;
    color: white;
    padding: 0.4%;
    text-align: center;
    border-radius: 2px;
}
.btnflex{
    text-align: center;
    margin: 3%;

}
.Hd{
    border: 2px;
    padding: 0.2%;
    border-color: black;
    border-style: solid;
    font-size: small;
}
