.popular-img{
    height:48vh;
    width:16vw;
   margin: auto;
   padding: auto;
    

}

.popular-container{
    display: flex;
    display: grid;
    grid-template-columns: repeat(5, 0.2fr); 
    background-color: black;
    padding-bottom: 10%;

}

